/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2020, 8:04:17 PM
    Author     : Yasmeen
*/
.button {
    -fx-cursor: hand;
}

.TextFeild {
    -fx-border-color: white;
}

#buttons-blue {
    -fx-background-color: #354578;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER;
}

#textbackground-black {
    -fx-text-fill: #fffbcd;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;

}

#textbackground-black-bold {
    -fx-text-fill: #fffbcd;
    -fx-alignment: CENTER;
    -fx-font-size: 24px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-font-weight: bold;;


}

#roundedImage {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);


}

#textbackground-blue {
    -fx-text-fill: #605F8B;
    -fx-alignment: CENTER;
}


.text-field {
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color: #ffffff;

}


#pane {
    -fx-background-color: #354578;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    /*-fx-border-width: 5px;
    -fx-border-color: black;*/

}